body {
  font-family: monospace;
  font-size: 14px;
  background-color: rgb(204, 204, 203);
  color:rgb(94, 94, 94);
  height: 100vh;
}


ol {
  font-size: 20px;
  }


h2 {
  color: rgb(19, 161, 208);
  font-size: 30px;
  display: flex;
  justify-content: center;
}

form {
  margin-top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

form input{
  height: 25px;
  width: 400px;
}
